@font-face {
  font-family: "ps4";
  src: url(font/Spider-Man.otf);
}
@font-face {
  font-family: "memphis";
  src: url(font/MemphisRiver.otf);
}
@font-face {
  font-family: "genocide";
  src: url(font/BebasNeue-Regular.ttf);
}
@font-face{
  font-family: "Oceanbold";
  src: url(404/Oxygen-Bold.ttf);
}
header{
  background-color: #FF2828;
  text-align: center;
  border-radius: 50px;
  margin: 0;
}
header h1{
  color: white;
  font-family: "ps4";
  font-size: 72px;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
  padding: 0;
  margin: 0;
}

header img{
  border-radius: 50px;
  width: 500px;
  border: 10px solid white;
}
.dark{
  background-color: darkred;
}
body{
  font-family:"Oceanbold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}
main h2{
  font-family: "genocide";
  font-size: 72px;
  text-align: center;
  background-color: #ff0000;
  color: white;
  text-shadow: 3px 3px black;
}
.padding{
 padding-top: 20px;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.center{
  text-align: center;
}
footer{
  background-color: coral;
  max-width: 100%
  padding-left: 20px;
}
ul,ol{
  background-color: red;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
a:visited {
color: white;
}
a:hover {
  background-color: LightCoral;
  color: white;
}
a:link{
  color: white;
}
.foot{
  padding-left: 20px;
  border-left: 20px solid darkred;
}
.foot a{
  color: crimson;
}
.foot p{
  margin: 0;
  padding: 20px;
}
.foot a:hover{
  background color: LightCoral;
  color: white;
}
